/**
 * @name Lappland - Arknights
 * @author Delin Covard#5181
 * @version 2.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/awrypg1.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('http://img2.reactor.cc/pics/post/Lappland-%28Arknights%29-Arknights-Игры-gif-6447604.gif');
  --home-button-size: 160%;
  --home-button-position: top center;
  --serverlist-brightness: 0.6;
  --left-brightness: 0.6;
  --middle-brightness: 0.45;
  --right-brightness: 0;
  --popout-modal-brightness: 0.75;
  --gradient-primary: 49,53,56;
  --gradient-secondary: 49,53,56;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: 'Nunito';
  --window-padding: 20px;
  --window-roundness: 10px;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
}
